@page
@model BikeShopDSD605.Pages.Stock.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stocks</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stocks.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stocks.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stocks.ProductDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stocks.ProductDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stocks.ProductType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stocks.ProductType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stocks.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stocks.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stocks.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stocks.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stocks?.StockId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
